# Ignore everything
*
# Except following
!.gitignore
!.raw/
!invoice
!invoice/history
!price
!price/history
!stock
!stock/adjustments
!product
!product/product_history.csv
!product/templates/
!product/templates/*
!product/images/
!product/images/*
!**/README.md